.Signup{
  display: flex;
  max-width: 90vw;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

.ErrorMessage{
  padding: 0.3rem;
  margin: 0.2rem 0;
  background-color: salmon;
  color: white;
}

form{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.FormControl{
  margin: 1rem;
  margin-bottom: 0;
}

.FormControl input{
  height: 1.5rem;
}

.FormControl label{
  display: block;
  margin-bottom: 0.2rem;
}

form button {
  align-self: center;
  margin: 1rem 0;
}


.GoogleLogin{
  background-color: rgb(240, 45, 45);
  color: white;
  font-size: 1.3rem;
  padding: 8px 10px;
  margin: 1rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translate(0);
  transition: all 0.3s;
}

.GoogleLogin:hover{
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px red;
  text-decoration: none;
  transform: translateY(-10%);
  background-color: rgb(161, 13, 13);
}
