.NewUser{
  display: flex;
  max-width: 90vw;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

form{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.FormControl{
  margin: 1rem;
}

.FormControl input{
  height: 1.5rem;
}

.FormControl label{
  display: block;
  margin-bottom: 0.2rem;
}

form button {
  align-self: center;
}
